@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="text-align:center; background-color:forestgreen">Welcome to Student Portal!! </h1><br><br>
    <a href="Student/Index" class="btn btn-success">View Registered Students</a>
</div>
